
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 6;
	border-bottom: 1px solid #000;
}

.header{
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
	
@media (max-width: 1400px){
	padding: 20px 0;
}
	
	@media (max-width: $Mb){
		padding: 10px 0;
	}
	
}




.header__burger{
	display: none;
	@media (max-width: $Mb){
		display: block;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: #273B98;
		position: relative;
		&:after{
			content: "";
			display: block;
			background-color: #fff;
			border-radius: 50px;
			width: 18px;
			height: 2px;
			position: absolute;
			top: 13px;
			left: 12px;
			transition: all 0.5s linear;
		}
		&:before{
			content: "";
			display: block;
			background-color: #fff;
			border-radius: 50px;
			width: 18px;
			height: 2px;
			position: absolute;
			top: 20px;
			left: 12px;
			transition: all 0.5s linear;
		}
		span{
			&:after{
				content: "";
				display: block;
				background-color: #fff;
				border-radius: 50px;
				width: 18px;
				height: 2px;
				position: absolute;
				top: 27px;
				left: 12px;
				transition: all 0.5s linear;
			}
		}
	}
	
}


.header__burger_close{
	@media (max-width: $Mb){
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 19px;
		left: 12px;
		transform: rotate(-45deg);
		transition: all 0.5s linear;
	}
	&:before{
		content: "";
		display: block;
		opacity: 0;
		transition: all 0.5s linear;
	}
	span{
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 19px;
			left: 12px;
			transform: rotate(45deg);
			transition: all 0.5s linear;
		}
	}
}
}



.header__nav{
		display: flex;
		align-items: center;
}



.burger__active{
	display: none;
	@media (max-width: $Mb){
	scroll: auto;
	display: block;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translateY(-200%);
	transition: all 0.3s linear;
	}
}


.burger__open{
	transition: all 0.3s linear;
	transform: translateY(0%);
}

.header__logo{
	margin-right: 25px;
}


.header__logo-img{
	
	min-width: 95px;
	@media (max-width: $Tb){
		max-width: 95px;
		max-height: 42px;
	}
	
}

///////////////////////////////@

.header__nav-btn{

	@media (max-width: $Mb){
		display: none;
	}
	margin-left: 27px;
	@media (max-width: 1200px){
		margin-left: 0;
	}
	
	a{
	background: linear-gradient(224.39deg, #35D5A5 2.1%, #00C7C5 32.94%, #2D9BE0 57.62%, #5277F7 71.52%, #5B75F6 79.13%, #7370F4 91.42%, #836DF3 98.23%);
	color: #fff;
	line-height: 100%;
	border-radius: 40px;
	padding: 19px 61px 23px 61px;
	font-weight: 700;
	font-size: 18px;
	@media (max-width: 1550px){
		padding: 13px 20px 12px 20px;
		font-size: 14px;
	}
	
	@media (max-width: 992px){
		font-size: 0;
		padding: 0;
		width: 35px;
		height: 35px;
		border-radius: 600px;
		position: relative;
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 12px;
			left: 14px;
			transform: rotate(-135deg);
			background-color: rgb(220, 220, 220);
			width: 13px;
			height: 2px;
		}
			&:before{
				content: "";
				display: block;
				position: absolute;
				top: 21px;
				left: 14px;
				transform: rotate(135deg);
				background-color:  rgb(220, 220, 220);
				width: 13px;
				height: 2px;
			}
		
	}
	
	}
}





.social__networks-img{
	margin-right: 20px;
	@media (max-width: 1700px){
		max-width: 36px;
	}
	
}

.header__nav-social-networks{
	@media (max-width: 1550px){
		display: none;
	}
	
		display: flex;
		align-items: center;
		margin-left: 20px;
		@media (max-width: 1550px){
			margin-left: 0;
		}
		
}


.header__nav-list {
	@media (max-width: $Mb){
		display: none;
	}
	
	ul{
		display: flex;
	}
}
.header__list-item {
	margin-right: 35px;
	@media (max-width: 1200px){
		margin-right: 22px;
	}
	@media (max-width: $Tb){
		margin-right: 15px;
	}
	
}
.header__list-link {
	font-size: 21px;

	@media (max-width: 1200px){
		font-size: 16px;
	}
	
	@media (max-width: $Tb){
		font-size: 14px;
	}
	
	font-style: italic;
	letter-spacing: 0.3px;
	
	&:hover{
		color: #3353c4;
	
	}
}

.active__link{
	border-bottom: 3px solid #5277F7;
	@media (max-width: $Tb){
		border-bottom: 2px solid #5277F7;
	}
	
}

.burger__active{
padding-bottom: 20px;
background-color: #fff;
}

.burger__bottom-wr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.burger__list{
	margin-bottom: 20px;
}
.burger__list-link{
	border-bottom: 1px solid #E5E5E5;
	padding: 13px 10px;
	font-size: 18px;
	color: #000;
	&:active{
		background-color: #c5c5c5;
	}
}

.burger__bottom-btn{
	margin-bottom: 20px;
	background: linear-gradient(224.39deg, #35D5A5 2.1%, #00C7C5 32.94%, #2D9BE0 57.62%, #5277F7 71.52%, #5B75F6 79.13%, #7370F4 91.42%, #836DF3 98.23%);
	border-radius: 50px;
	color: #fff;
	padding: 12px 35px;
	font-size: 16px;
	line-height: 100%;
}

.burger__social-netwowks {
	img{
		max-width: 40px;
	}
	img:not(:last-child){
		margin-right: 20px;
	}
}