

main{
	margin-top: 120px;
	@media (max-width: 1400px){
		margin-top: 100px;
	}
	@media (max-width: $Tb){
		margin-top: 80px;
	}
	@media (max-width: $Mb){
		margin-top: 63px;
	}
	
	
	
}

.initial__net{
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.initial__item {
	flex: 0 1 50%;
}
.initial__text {
	flex: 0 1 55%;
	@media (max-width: $Mb){
		flex: 0 1 100%;
	}
	&-p{
		margin-bottom: 60px;
		@media (max-width: 992px){
			margin-bottom: 20px;
		}
		
	}
	
}
.initial__img {
	flex: 0 1 45%;
	@media (max-width: $Mb){
		display: none;
	}
	
}




.search {
	
	display: flex;
	padding-right: 30px;
	@media (max-width: 992px){
		flex-direction: column;
padding-right: 15px;
	}
	@media (max-width: $Mb){
		padding: 0 10px;
	}
	@media (max-width: 450px){
		padding: 0;
	}
	
	
}
.search__btn {
	position: relative;

.button{
		transition: all 0.5s linear;
		white-space: nowrap;
		border: 1px solid #EAEFFF;
		border-radius: 40px 0px 0px 40px;
		height: 80px;
		padding: 25px 145px 37px 40px;
		color: #819EC7;
		font-size: 18px;
		background: #F8FAFF url(../img/initial__arrow.svg) 93% center no-repeat;
		@media (max-width: 1200px){
		height: 60px;
			padding: 20px 71.5px 20px 28px;
			font-size: 14px;
			line-height: 100%;
		}
		@media (max-width: 992px){
			width: 100%;
			border-radius: 30px;
			padding-left: 25px ;
			text-align: left;
			margin-bottom: 20px;
			background: #F8FAFF url(../img/initial__arrow.svg) 93% center no-repeat;
		}
		&:hover{
			@media(any-hover: hover){
				background: #e9ebec url(../img/initial__arrow.svg) 93% center no-repeat;
			}
		}
		&:active{
				background: #e1e8eb url(../img/initial__arrow.svg) 93% center no-repeat;
		}
	
		


	}

	.btnBorder{
		border-radius: 0px;
		transition: all 0.3s linear;
}



}
.search__input {
	position: relative;
	z-index: 999;
	flex:1 1 auto;
	input{
		width: 100%;
		border: 1px solid #EAEFFF;
		border-radius: 0px 40px 40px 0px;
		height: 80px;
		padding-left: 40px;
		background: #fff url(../img/search.svg) 95% center no-repeat;
		@media (max-width: 1400px){
			padding-left: 20px;
			font-size: 20px;
		}
		
		@media (max-width: 1200px){
			height: 60px;
			background: #fff url(../img/search.svg) 95% center no-repeat;
		}
		@media (max-width: 992px){
			border-radius: 30px;
		}
		
		



		&::placeholder{
			color:#c3cae0;
			font-size: 17px;
			@media (max-width: $Tb){
				font-size: 14px;
			}
			
		}
		&:focus{
			border: 1px solid rgb(169, 169, 232);
			background: #fff;
			@media (max-width: 992px){
				border-radius: 0 40px 40px 0;
				transition: all 0.3s linear;
			}
			
		}
	}
}



.search__bth-list {
	pointer-events: none;
	opacity: 0;
	display: block;
	min-width: 300px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 6;
	background-color: #F8FAFF;
	padding-top: 10px;
	@media (max-width: 992px){
		position: absolute;
		top: 60px;
		left: 0;
	}
	@media (max-width: $Mb){
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
	}
	
	
}

.search__bth-list-item{
	padding: 8px 10px 8px 28px;
	border-bottom: 1px solid #E5E5E5;
	&:hover{
		@media(any-hover: hover){
			background: #e9ebec;
		}
	}
	&:active{
			background: #e1e8eb;
	}
}


.activeList{
opacity: 1;
	pointer-events: all;
}





.initial__forum {
	position: relative;
	z-index: 688;
	margin-top: 50px;
	max-width: 405px;
	@media (max-width: $Tb){
		margin: 0 auto;
		margin-top: 20px;
	}
	
}



.initial__forum-p {
	color: #fff;
	margin-bottom: 20px;
	font-style: italic;
	@media (max-width: 992px){
	
	color: #537ab0;
	}
	
	@media (max-width: $Mb){
		text-align: center;
	}
	
}
.initial__forum-btn {
	padding: 21px 5px;
	text-align: center;
	width: 100%;
background: #273B98;
border-radius: 40px;
font-weight: 700;
font-size: 18px;
line-height: 100%;
color: #fff;
&:hover, &:active{
	background: #213280;
}
}



