
.interesting{
	position: relative;
	z-index: 6;
	color: #fff;
	font-weight: 700;
	margin-top: -250px;
	padding-top: 380px;
	padding-bottom: 123px;
	@media (max-width: 1400px){
	padding-top: 300px;
	}
	@media (max-width: 1200px){
		padding-bottom: 60px;
	}
	@media (max-width: $Tb){
		padding-bottom: 25px;
	}
	
	
	@media (max-width: $Mb){
		padding-bottom:20px ;
	}
	
	
background: url(../img/interesting.png) 100% 1% /cover no-repeat;
@media (max-width: 992px){
	margin-top: -250px;
}
@media (max-width: 600px){
	background: linear-gradient(224.39deg, #35D5A5 2.1%, #00C7C5 32.94%, #2D9BE0 57.62%, #5277F7 71.52%, #5B75F6 79.13%, #7370F4 91.42%, #836DF3 98.23%);
	margin-top: 40px;
	position: relative;
	padding-top: 30px;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 40px;
		border-radius: 90%;
		background-color: #fff;
		position: absolute;
		top: -20px;
		left: 0%;
	}
}
}

.interesting__title {
	color: #fff;
	margin-bottom: 60px;
	@media (max-width: 992px){
		margin-bottom: 40px;
	}
	@media (max-width: $Mb){
		margin-bottom: 20px;
	}
}



/////////net///////////////////////@


.interesting__net {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.interesting__wr{
	flex: 0 0 25%;
	@media (max-width: $Mb){
		flex: 0 0 50%;
	}
	
}




.interesting__item {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
	@media (max-width: $Mb){
		margin-bottom: 20px;
	}
	
	
}
.interesting__text {
	@include adaptiv-font(21,14);
}
