
.interesting{
	color: #fff;
	font-weight: 700;
	margin-top: -250px;
	padding-top: 470px;
height: 1000px;
background: url(../img/interesting.jpg) 100% 1% /cover no-repeat;
@media (max-width: 992px){
	margin-top: -250px;
}
@media (max-width: 600px){
	background: linear-gradient(224.39deg, #35D5A5 2.1%, #00C7C5 32.94%, #2D9BE0 57.62%, #5277F7 71.52%, #5B75F6 79.13%, #7370F4 91.42%, #836DF3 98.23%);
	margin-top: 40px;
	position: relative;
	padding-top: 30px;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 30px;
		border-radius: 90%;
		background-color: #fff;
		position: absolute;
		top: -15px;
		left: 0%;
	}
}


}